{:stripe-secret  "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"
 :signing-secret "whsec_SBIA8F5covasnH4x8TF0w74UnHmODPTy"
 :yearly-plan    "price_1JNrrkIGGMueBEvzJPs9RIbb"
 :monthly-plan   "price_1JNrqgIGGMueBEvzWoxlQncw"}
