{:stripe-secret      "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"
 :signing-secret     "whsec_5ymAduJh3oNGG72XSwdX2ODj1EIil6By"
 :yearly-plan        "price_1JNrrkIGGMueBEvzJPs9RIbb"
 :monthly-plan       "price_1JNrqgIGGMueBEvzWoxlQncw"
 :aws-access-key     "3NGPY4XCV3KUTRL5C7LW"
 :aws-secret-key     "JVc6jj5V3DK81FRuQs++JDVc+wy4WFUjuFA3Li3Ww6E"
 :aws-s3-bucket-name "designvote-storage"
 :aws-s3-endpoint    "fra1.digitaloceanspaces.com"}
